<div class="row">
    <div class="col-md-12">
        <h1 style="color:white;">MIS ARCHIVOS</h1>
        <hr style="border-color:white">
    </div>

    <div class="col-md-12">
        <table class="table table-hover" *ngIf="!cargando && participantes.length > 0">
            <thead class="thead-dark">
                <tr>
                    <th>No. Archivos</th>
                    <th>Correo</th>
                    <th>Password</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="color:white">
                <tr *ngFor="let p of participantes">
                    <td>
                        {{ p.cantidad }}
                    </td>
                    <td>
                        {{ p.correo }}
                    </td>

                    <td>{{ p.password }}</td>
                    <td><button type="button" class="btn btn-primary" [routerLink]="['/detalle', p.correo]">Ver Archivos</button></td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="cargando" class="alert text-center mt-3">
            <h3 class="alert-heading" style="color:white">Cargando</h3>
            <p>
                <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
            </p>
        </div>

        <div *ngIf="!cargando && participantes.length === 0" class="alert text-center mt-3">
            <h4 class="alert-heading" style="color:white">No hay registros</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
        </div>
    </div>
</div>